{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"configPath": "",
	"disableLanguages": [],
	"documentSelectors": [],
	"embeddedLanguageFormatting": "auto",
	"enable": true,
	"enableDebugLogs": false,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"ignorePath": ".prettierignore",
	"insertPragma": false,
	"jsxBracketsSameLine": true,
	"jsxSingleQuote": false,
	"packageManager": "npm",
	"prettierPath": "",
	"printWidth": 100,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requireConfig": false,
	"resolveGlobalModules": false,
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useEditorConfig": true,
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"withNodeModules": false
}
