$font-family: var(--font-roboto);
$font-size-base: 18px;
$font-size-sl: 14px;
$font-weight: 400;

$primary-color: #232532;
$secondary-color: #272a38;
$bg-color: #1b1e27;
$icon-color: #8c99b2;
$text-color: #ffffff;
$red: #eb5757;
$light-blue: #0089ff;
$dark-blue: #0089ff1c;
$gray: #303549;
$active-input-color: #292d3d;
