@import "../../styles/variables.scss";
@import "../Header/Header.module.scss";

.sideBar {
  width: 25%;
  min-width: 340px;
  margin: 8px 0;
  border-radius: 2px;
  max-width: 400px;
  height: 82vh;
  overflow: hidden;
  background-color: $primary-color;
  @media (max-width: 768px) {
    position: absolute;
    left: -120vw;
    top: 0;
    z-index: 999;
    width: 80vw;
    min-width: 300px;
    max-width: none;
    height: 100vh;
    margin: 0;
    transition: all ease-in 0.2s;
    &--mobileActive {
      left: 0vw;
    }
  }
  .button {
    display: none;
    width: 100%;
    margin: 0 0 2px 0;
    @media (max-width: 768px) {
      display: block;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    height: 68px;
    justify-content: space-between;
    padding: 16px 16px 16px 60px;
    margin: 0 0 2px 0; //1.6
    background-color: $secondary-color;
    transition: all ease-in 0.4s;
    &--active {
      padding: 16px 16px 16px 30px;
    }
    .sideBar__searchWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: all ease-in 0.4s;
      width: 14%;
      &--active {
        width: 100%;
        transition: all ease-in 0.4s;
      }
    }
    span {
      display: block;
      width: 190px;
      white-space: nowrap;
      overflow: hidden;
      transition: all ease-in 0.3s;
    }
    .hide {
      width: 0px;
      transition: all ease-in 0.3s;
    }
  }
  &__searchWrapper {
    position: relative;
    overflow: hidden;
  }
  &__input {
    width: 0px;
    padding: 0;
    min-width: 0px;
    height: 35px;
    background: $primary-color;
    transition: all ease-in-out 0.4s;
    @media (max-width: 768px) {
      font-size: 14px;
      transition: all ease-in-out 0.1s;
    }
    &--active {
      width: 100%;
      padding: 0 8px 0 8px;
      height: 35px;
      background: $primary-color;
      transition: all ease-in-out 0.4s;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    height: 35px;
    background: $gray;
    border-radius: 2px;
    transition: all ease-in 0.2s;
    &--active {
      background: $light-blue;
    }
  }
  &__listReservoir {
    height: 73vh;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    border-left: 2px solid transparent;
    height: 45px;
    padding: 12px 12px 12px 60px;
    margin-bottom: 2px;
    background-color: $secondary-color;
    transition: ease-in-out background 0.2s;

    &:hover {
      background-color: darken($primary-color, 2%);
    }

    &--active {
      border-left: 2px solid $light-blue;
      background-color: $dark-blue;
      &:hover {
        background-color: $dark-blue;
      }
    }
  }
}
